<div class="item2"
    style="backface-visibility: hidden; overflow: hidden; position: absolute; transform: matrix(1, 0, 0, 1, 2880, 0); width: 358px;">
    <img src="img/rewards-karissa.png" alt="image">
    <div class="textBox">
        <p><strong>Tier 1 Individual Reward:</strong><br>
            <span class="yellow"><strong>Join Karissa Kouchis for a three-part <em>Unleash Her Power Within</em>
                    virtual workshop powered by <span style="white-space: nowrap;">Tony
                        Robbins</span></strong></span><br>
            How to Earn: Be on a Team Cup and qualify for Success <span style="white-space: nowrap;">Club 5.</span>
        </p>
    </div>
</div>